.logo {
  @include verticalCenter;
  margin: 20px auto 10px;
  width: 200px;
  height: 38px;
  border-radius: 20px;
  padding: 5px 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.307);
  background: url(../../assets/img/main.jpg) center/cover;

  img {
    height: 40px;
  }
  h3 {
    color: $white;
  }
}
